:root {
    --main-color:#ea5252;/*#ea5252, #f55, tomato, hsl(0,78,61), rgb(234,82,82)*/
    --sub-color:#ed6868;/*#ed6868, #f77, salmon, hsl(0,78,66), rgb(237,104,104)*/
    --dark-gray-color:#6a6a6a;/*#6a6a6a, #777, dimgray, hsl(0,0,41), rgb(106,106,106)*/
    --light-gray-color:#edf1f3;/*#edf1f3, #fff, whitesmoke, hsl(200,19,94), rgb(237,241,243)*/
    --gray-color:#8f8d8d;
    --light-black-color:#282828;
}

html{
    direction: rtl;
}
body{
    font-family: 'Tajawal', sans-serif;
    line-height: 1.7;
    font-size: 0.9rem;
}
a, a:hover, .btn-link{
    color: inherit;
    text-decoration: none;
}
a:hover, a.active, .active, a:active, a:focus{
    color: var(--main-color);
}
P {
    margin-bottom: 0;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1.1rem;
}
.main-bg{
    background: var(--main-color);
}
.light-gray-bg{
    background: var(--light-gray-color);
}
.main-color{
    color: var(--main-color);
}
.dark-gray-color{
    color: var(--dark-gray-color);
}
.gray-color{
    color: var(--gray-color);
}

/*---HEADER-----*/
.page-header{
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/head-bg.jpg');
    background-size: cover;*/
}
.page-top-header{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    width: 100%;
    display: block;
}
@media (max-width: 575px){
    .page-top-header{
        position: relative;
        background: rgba(0, 0, 0, 1);
    }
}
.carousel-caption {
    top: 35%;
    bottom: initial;
}
@media (max-width: 575px){
    .carousel-caption {
        top: 5%;
    }
}
.page-header-btn{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: var(--main-color);
    font-size: 1rem;
    font-family: 'TajawalBold', sans-serif;
    padding: 1rem 3rem;
}
.carousel-indicators {
    align-items: center;
}
.carousel-indicators li {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
   background: none;
    width: 20px;
    height: 20px;
    opacity: 1;
}
.carousel-indicators .active {
    border:1px solid var(--main-color);
    background: var(--main-color);
}
.carousel-item img{
    height: 650px;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 575px){
    .carousel-item img{
        height: 380px;
    }
}
.sign-header-btn{
    border-radius: 10px;
    font-size: 1rem;
}
.sign-header-btn + span{
    font-family: 'TajawalLight', sans-serif;
}
.signup-header-btn{
    font-size: 1rem;
}
.signup-header-btn:hover{
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width: 767px) {
    .sign-header-btn , .signup-header-btn{
        font-size: 0.7rem;
    }
    .sign-header-btn + span{
        font-size: 1rem;
    }
}
.navbar-nav{
    font-family: 'TajawalBold', sans-serif;
}
.navbar-toggler-icon {
    color: #fff;
    width: auto;
    height: auto;
}
.navbar-expand-sm .navbar-nav .nav-link {
    margin-left: .7rem;
    margin-right: .7rem;
    padding: 0;
    border-bottom: 1px solid transparent;
}
.navbar-nav .nav-item:first-child .nav-link {
    margin-right: 0rem;
}
.navbar-nav .nav-item:last-child .nav-link {
    margin-left: 0rem;
}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:focus{
    color: var(--main-color);
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}
.navbar-toggler {
    border: 1px solid #fff;
    margin-right: 1rem;
    border-radius: .25rem .25rem 0 0;
}
.navbar-toggler.collapsed {
    border-radius: .25rem;
}
.navbar-collapse.show {
    width: 100%;
    border: 1px solid #fff;
    margin-top: -1px;
    border-radius: .25rem;
    color: #000;
}
.navbar-collapse.show .navbar-nav {
    width: 100%;
    background: #fff;
   padding: 2rem;
    display: block;
}
.navbar-collapse.show .navbar-nav .nav-link {
    border: 0;
    padding: 0.3rem;
    margin: 0 auto 0.5rem;
    width: 100%;
}
.navbar-collapse.show .navbar-nav .nav-item.active .nav-link,
.navbar-collapse.show .navbar-nav .nav-item .nav-link:hover,
.navbar-collapse.show .navbar-nav .nav-item .nav-link:active,
.navbar-collapse.show .navbar-nav .nav-item .nav-link:focus {
    background: var(--main-color);
    border-radius: 10px;
    border: 0;
    padding: 0.5rem;
    color: #fff;
}
.page-bottom-header{
    background-image:none;
}
.page-bottom-header.inner-page-bottom-header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/head-bg.jpg');
    background-size: cover;
    padding-top: 155px;
    height: 450px;
}
@media (max-width: 991px) {
    .page-bottom-header.inner-page-bottom-header{
        padding-top: 165px;
        height: auto;
    }
}
@media (max-width: 575px) {
    .page-bottom-header.inner-page-bottom-header{
        padding-top: 0;
    }
}
.page-header-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.3rem;
}
.page-header-main-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.7rem;
}
.page-header-text {
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
}
@media (max-width: 767px) {
    .page-header-main-title{
        font-size: 1.2rem;
    }
    .page-header-text {
        font-size: 1.2rem;
    }
}
.breadcrumb {
    padding: .75rem 0rem;
    background: none;
    font-family: 'TajawalBold', sans-serif;
}
.breadcrumb-item a{
    color: var(--sub-color);
}
.breadcrumb-item a:hover{
    color: var(--main-color);
}
.breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
/*---HEADER-----*/

/*---FOOTER-----*/
.page-footer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url('../images/footer-bg.jpg');
    background-position: bottom;
    background-size: cover;
    font-family: 'TajawalMedium', sans-serif;
    line-height: 1.7;
}
.subscribe-text{
    font-family: 'TajawalBold', sans-serif;
    line-height: 1.7;
}
.subscribe-form{
    color: #000;
}
.subscribe-form input{
    font-family: 'TajawalMedium', sans-serif;
    height: 100%;
    border-radius: 0;
    border: none;
    padding: 1.3rem 1rem;
    color: #000;
}
.subscribe-form input::placeholder{
    color: #000;
}
.subscribe-form button{
    font-family: 'TajawalBold', sans-serif;
    border-radius: 0;
    padding: 1.3rem 1rem;
}
.footer-title{
    font-family: 'TajawalBold', sans-serif;
    margin-top: 2.2rem;
}
.footer-text, .footer-more-info{
    font-size: 0.92rem;
}
.page-footer dd {
    margin-bottom: 1rem;
}
.social-box{
    color: var(--gray-color);
}
.social-icon{
    border: 1px solid var(--light-gray-color);
    border-radius: 50%;
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.3rem;
    text-align: center;
    padding-top: 0.1rem;
    color: var(--gray-color);
}
.social-icon:hover{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.footer-social .social-icon{
    border-color: #fff;
    color: #fff;
}
.footer-social .social-icon:hover{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
/*---FOOTER-----*/

/*-----home-----*/

.section-title{
    font-size: 2.2rem;
    font-family: 'TajawalBold', sans-serif;
}
.section-sub-title{
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.prop-section{
    background-image: url('../images/prop-bg.jpg');
    background-position: top;
    background-size: cover;
}
.prop-box-title{
    font-family: 'TajawalBold', sans-serif;
}
.prop-box-text{
    font-size: 1.2rem;
}
.order-section{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url('../images/order-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.order-section .section-title{
    color: #ffffff;
}
.order-form input {
    font-family: 'TajawalMedium', sans-serif;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding: 1.3rem 1rem;
    color: #000;
}
.order-form input::placeholder{
    color: #000;
}
.order-form button {
    font-family: 'TajawalBold', sans-serif;
    border-radius: 10px;
    padding: 1.3rem 1rem;
}
.teacher-section{
    background-image: url('../images/teacher-bg.jpg');
    background-position: top;
    background-size: cover;
}
.teacher-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 21px 0px rgba(43, 43, 43, 0.08);
}
.teacher-box.teacher-box-center {
    border:  1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 21px 0px rgba(43, 43, 43, 0.25);
    margin-top: -2rem;
}
@media (max-width: 575.98px){
.teacher-box.teacher-box-center {
    margin-top: 0rem;
}
}
.teacher-box-img{
    border-radius: 50%;
    overflow: hidden;
}
.teacher-box-img img{
    border: 3px solid #fff;
}
.teacher-box-center .teacher-box-img{
    position: relative;
    border: 3px solid var(--main-color);
    padding: 3px;
    background: #ffffff;
    display: inline-block;
}
.separator{
    height: 3px;
    width: 20%;
    margin: 2rem auto;
    background: var(--main-color);
}
.teacher-box-center .separator{
    width: 50%;
}
.teacher-box-text{
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: bold;
}
.teach-box-title{
    font-family: 'TajawalBold', sans-serif;
}
.teach-box-sub-title{
    color: var(--dark-gray-color);
}
.teacher-box-btn{
    color: #ffffff;
    background: var(--main-color);
    border: 2px solid transparent;
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.2rem;
    border-radius: 7px;
}
.teacher-box-btn:hover{
    color: var(--main-color);
    background: none;
    border: 2px solid var(--main-color);
}
.teacher-box.teacher-flat-box{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: rgb(249, 250, 250);
    box-shadow: none;
}
.teacher-box.teacher-flat-box .teacher-box-img img {
    border: none;
}
.course-item, .owl-item{
    position: relative;
    z-index: 1;
}
.course-box{
    border: 1px solid rgb(235, 235, 235);
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(35, 31, 32, 0.07);
    padding: 0;
    overflow: hidden;
    height: 440px;
    position: relative;
    color: #000;
    z-index: 1;
}
.course-box .card-img-overlay{
    padding: 0;
    height: 100%;
}
.course-box .card-top{
    height: 48%;
    position: absolute;
    width: 100%;
}
.course-box .card-body{
    background: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.course-item .card-tooltip{
    display: none;
    background: #fff;
    color: #000;
    position: absolute;
    top: 20%;
    left: -250px;
    width: 250px;
    z-index: 2000;
}
.card-title{
    font-size: 1rem;
    font-family: 'TajawalBold', sans-serif;
    margin-top: 0.5rem;
}
.card-sub-title {
    color: #969696;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1rem;
}
.card-icon-text{
    font-size: 0.8rem;
    font-family: 'TajawalBold', sans-serif;
}
.owl-carousel .owl-stage-outer {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}
.card-btn{
    margin-top: 1.2rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'TajawalBold', sans-serif;
}
.price-box{
    margin-top: 0.5rem;
}
.price-box p{
    display: inline-block;
    background: var(--main-color);
    color: #ffffff;
    border-radius: 8px 0 0 8px;
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    font-size: 1.5rem;
    font-family: 'TajawalBold', sans-serif;
    line-height: 1;
}
.price-box.sale-box p{
    background: var(--dark-gray-color);
    position: relative;
}
.price-box.sale-box p:after{
    content: "";
    width: 50%;
    height: 3px;
    background: #ffffff;
    display: block;
    position: absolute;
    transform: rotate(-25deg);
    left: 30%;
    bottom: 25px;
}
.price-box p small{
    display: block;
    font-size: 0.6rem;
}
.course-item:hover .course-box{
    color: #fff;
}
.course-item:hover .course-box .card-img-overlay{
    background: rgba(0,0,0,0.5);
}
.course-item:hover .course-box .card-img{
    transform: scale(1.5);
}
.course-item:hover .course-box .card-body{
    background: none;
}
.course-item:hover .course-box .card-sub-title, .course-item:hover .course-box .main-color{
    color: #fff;
}
.course-item:hover .course-box .card-btn{
    border: 1px solid #fff;
    color: #fff;
}
.course-item:hover .course-box .card-btn:hover{
    color: #000;
    background: #fff;
}
/*.course-item:hover .card-tooltip{
    display: block;
}*/
.tooltip-inner {
    max-width: 20vw;
    background: rgba(255,255,255,1);
    color: #000;
    padding: 1rem;
    box-shadow: 0px 3px 6px 0px rgba(35, 31, 32, 0.07);
    font-family: 'Tajawal', sans-serif;
    text-align: right;
}

@media (max-width: 800px) {
    .tooltip-inner {
        max-width: 50vw;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .tooltip-inner {
        max-width: 90vw;
        text-align: center;
    }
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #fff;
    box-shadow: 0px -5px 6px 0px rgba(35, 31, 32, 0.07);
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #fff;
    box-shadow: 0px 5px 6px 0px rgba(35, 31, 32, 0.07);
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #fff;
    box-shadow: -5px 0px 6px 0px rgba(35, 31, 32, 0.07);
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #fff;
    box-shadow: 5px 0px 6px 0px rgba(35, 31, 32, 0.07);
}
.view-all-btn{
    border: 2px solid var(--main-color);
    border-radius: 20px;
    font-family: 'TajawalBold', sans-serif;
    padding: 1rem;
}
.pull-circle{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 1rem 0.45rem;
    font-size: 0.8rem;
}
.customNavigation-bottom{
    font-family: 'TajawalBold', sans-serif;
}
.w-35{
    width: 35%!important;
}
.item_tooltip {
    display: none;
    position: absolute;
    width: 25%;
    z-index: 1000;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(35, 31, 32, 0.07);
}
@media (max-width: 500px) {
    .view-all-btn{
        padding: 1rem;
        width: 100%;
    }
    .customNavigation{
        width: 100%;
    }
    .pull-circle{
        padding: 0.8rem 0.25rem;
        font-size: 0.8rem;
    }
}
.vote-box{
    font-size: 0.9rem;
    font-family: 'TajawalBold', sans-serif;
}
.vote-icon{
    color: #ffc850;
}
.vote-icon .fa-star-half-alt{
    transform: scaleX(-1);
}
#swiper-testimonial.swiper-container {
    width: 100%;
    padding: 50px 5%;
}
#swiper-testimonial .swiper-slide {
    background-position: center;
    background-size: cover;
    height: auto;
}
#swiper-testimonial .swiper-button-prev:after, .swiper-button-next:after{
    content: '';
   display: none;
}
#swiper-testimonial .swiper-button-prev, .swiper-button-next{
    color: #ccc;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 5px;
    width: 45px;
    height: 45px;
    top: 33.5%;
}
#swiper-testimonial .testimonial-content {
    display: none;
    margin-top: 3rem;
}
#swiper-testimonial .testimonial-content .content {
    margin-top: 2rem;
}
#swiper-testimonial .testimonial-box-title{
    font-family: 'TajawalBold', sans-serif;
}
#swiper-testimonial .swiper-slide-active .testimonial-content {
    display: block;
    position: relative;
    width: 45vw;
    margin-right: -17.5vw;
    margin-top: 3rem;
}
@media (max-width: 1023px) {
    #swiper-testimonial .swiper-slide-active .testimonial-content {
        width: 78vw;
        margin-right: -30vw;
    }
    #swiper-testimonial .swiper-button-prev, #swiper-testimonial .swiper-button-next {
         top: 29.5%;
     }
}
@media (max-width: 767px) {
    #swiper-testimonial .swiper-slide-active .testimonial-content {
        width: 100%;
        margin-right: 0;
    }

}
@media (max-width: 639px) {
    #swiper-testimonial .swiper-slide-active .testimonial-content {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    #swiper-testimonial .swiper-button-prev, #swiper-testimonial .swiper-button-next {
        top: 19.5%;
    }
}
#swiper-testimonial.swiper-container-3d .swiper-slide-shadow-left,
#swiper-testimonial.swiper-container-3d .swiper-slide-shadow-right{
     background: none;
 }
#swiper-testimonial .profile-pic-box{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
#swiper-testimonial .swiper-slide .profile-pic{
      position: relative;
      z-index: 1;
}
#swiper-testimonial .swiper-slide .profile-overlay{
    background: rgba(234,82,82,0.7);
    content: "";
    position: absolute;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#swiper-testimonial .swiper-slide.swiper-slide-active .profile-overlay{
    background: none;
    display: none;
}
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-----home-----*/

/*---PAGE-----*/
.page{
    /*padding: 5rem;*/
}

.page-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}
.page-sub-title{
    font-size: 0.9rem;
}
.font-text-bold{
    font-family: 'TajawalBold', sans-serif;
}
.font-text-medium{
    font-family: 'TajawalMedium', sans-serif;
}
.font-text-underline{
    text-decoration: underline;
}
.title-btn{
    background: var(--main-color);
    border-radius: 7px;
    border: 2px solid transparent;
    color: #fff;
    font-size: 1rem;
}
.title-border-btn{
    background: #fff;
    border-radius: 7px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
}
.title-btn:hover{
    background: #fff;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.title-border-btn:hover{
    background: var(--main-color);
    border: 2px solid transparent;
    color: #fff;
}
.page-title-info{
    font-family: 'TajawalBold', sans-serif;
}
.price-span{
    font-size: 1.5rem;
    font-family: 'TajawalBold', sans-serif;
}
.page-list {
    padding-right: 1.2rem;
    list-style: none;
}
.page-list li::before {
    content: "";
    background-color: var(--main-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 0.28rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: -1rem;
}
.page-second-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.3rem;
}
.page-form-btn{
    color: #ffffff;
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 7px;
    background: var(--main-color);
    border: 2px solid transparent;
}
.btn-main{
    color: #ffffff;
    font-family: 'TajawalBold', sans-serif;
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    background: var(--main-color);
    border: 2px solid transparent;
}
.page-form-btn:hover, .btn-main:hover{
    color: var(--main-color);
    background: #ffffff;
    border: 2px solid var(--main-color);
}
@media (max-width: 500px) {
    .page-form-btn{
        font-size: 1rem;
        padding: 1rem 3rem;
    }
}
.page-form input:not([type="radio"]):not([type="checkbox"]), .page-form select, .page-form .btn{
    height: calc(3.25rem + 2px);
}
.page-form .form-control{
    background: var(--light-gray-color);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-family: 'TajawalMedium', sans-serif;
    border-radius: 7px;
    color: var(--dark-gray-color);
}
.page-form .input-group input{
    border-left: 0;
}
.page-form .input-group-text {
    background: var(--light-gray-color);
    color: var(--dark-gray-color);
    border-right: 0;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--main-color);
    background-color: var(--main-color);
}
.custom-control-label::before {
    border-color: var(--main-color);
}

.page-link {
    line-height: 1;
    color: var(--gray-color);
    border: none;
    border-radius: 50%;
    background: none;
}
.page-item.active .page-link {
    background-color: var(--main-color);
    border: none;
    font-family: 'TajawalMedium', sans-serif;
}
.page-item:first-child .page-link,
 .page-item:last-child .page-link{
     border-radius: 50%;
 }
.page-nav-item .page-link{
    background: #fff;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.16);
    color: var(--main-color);
    padding: .75rem .8rem;
}
.shadow-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 21px 0px rgba(43, 43, 43, 0.08),inset 0px 1px 2px 0px rgba(181, 180, 180, 0.35);
    padding: 2rem;
}
.aside-box{
    border: 1px solid rgb(197, 202, 207);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
}
.chat-part-icon{
    background: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem;
}
.course-content-img{

}
.page-tab .nav-tabs .nav-link {
    border: 1px solid rgb(225, 225, 225);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-family: 'TajawalBold', sans-serif;
    margin-right: 8px;
    padding: 1rem 1.5rem;
}
.page-tab .nav-tabs .nav-item:first-child  .nav-link{
    margin-right: 0px;
}
.page-tab .nav-tabs .nav-item.show .nav-link, .page-tab .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.page-tab .tab-content{
    color: #000;
    border: 1px solid rgb(226, 226, 226);
    border-top: none;
}
.page-tab .tab-content .active {
    color: #000;
}
.page-accord{

}
.page-accord .card {
    margin-bottom: 2rem;
    border: 1px solid rgb(206, 215, 223);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 8px 0px rgba(48, 61, 71, 0.07);
}
.page-accord .card-header {
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.5rem;
}
.accordion.page-accord .card:not(:first-of-type):not(:last-of-type),
.accordion.page-accord .card:first-of-type{
    border-bottom:  1px solid rgb(206, 215, 223);
    border-radius: 3px;
}
.accordion.page-accord .accord-title:hover,
.accordion.page-accord .accord-title:focus{
    color: inherit;
    text-decoration: none;
}

.accordion.page-accord .accord-title[aria-expanded=true] .accord-icon{
    transform: scaleX(-1);
}
.modal-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.6rem;
}
.modal-header, .modal-footer {
    border: none;
    border-radius: 0;
}
.modal-body{
    border: 1px solid var(--light-gray-color);
    border-radius: 8px 0px 8px 8px;
    max-height: 50vh;
}
.modal-body{
    overflow-y: scroll;
}
/* width */
.modal-body-scroll::-webkit-scrollbar {
    width: 15px;
}
/* Track */
.modal-body-scroll::-webkit-scrollbar-track {
    background: var(--light-gray-color);
    border-radius: 8px 0 0 8px;
}
/* Handle */
.modal-body-scroll::-webkit-scrollbar-thumb {
    background: var(--main-color) ;
}
/* Handle on hover */
.modal-body-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--sub-color);
}
/*---PAGE-----*/