:root {
    --main-color:#ea5252;/*#ea5252, #f55, tomato, hsl(0,78,61), rgb(234,82,82)*/
    --sub-color:#ed6868;/*#ed6868, #f77, salmon, hsl(0,78,66), rgb(237,104,104)*/
    --dark-gray-color:#6a6a6a;/*#6a6a6a, #777, dimgray, hsl(0,0,41), rgb(106,106,106)*/
    --light-gray-color:#edf1f3;/*#edf1f3, #fff, whitesmoke, hsl(200,19,94), rgb(237,241,243)*/
}

html{
    direction: rtl;
}
body{
    font-family: 'Tajawal', sans-serif;
    line-height: 1.7;
}
a, a:hover, .btn-link{
    color: inherit;
    text-decoration: none;
}
a:hover, a.active, .active, a:active, a:focus{
    color: var(--main-color);
}
P {
    margin-bottom: 0;
}
.main-bg{
    background: var(--main-color);
}
.light-gray-bg{
    background: var(--light-gray-color);
}
.main-color{
    color: var(--main-color);
}
.dark-gray-color{
    color: var(--dark-gray-color);
}

/*---HEADER-----*/
.page-header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/head-bg.jpg');
    background-size: cover;
}
.page-top-header{
    background: rgba(0, 0, 0, 0.5);
}
.sign-header-btn{
    border-radius: 10px;
    font-size: 1rem;
}
.sign-header-btn + span{
    font-family: 'TajawalLight', sans-serif;
}
.signup-header-btn{
    font-size: 1rem;
}
.navbar-nav{
    font-family: 'TajawalBold', sans-serif;
}
.navbar-expand-sm .navbar-nav .nav-link {
    margin-left: .7rem;
    margin-right: .7rem;
    padding: 0;
    border-bottom: 1px solid transparent;
}
.navbar-nav .nav-item:first-child .nav-link {
    margin-right: 0rem;
}
.navbar-nav .nav-item:last-child .nav-link {
    margin-left: 0rem;
}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:focus{
    color: var(--main-color);
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}
.page-header-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.6rem;
}
.page-header-main-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 2.5rem;
}
.page-header-text {
    font-family: 'TajawalBold', sans-serif;
    font-size: 2.3rem;
    line-height: 1.3;
}
.breadcrumb {
    padding: .75rem 0rem;
    background: none;
    font-family: 'TajawalBold', sans-serif;
}
.breadcrumb-item a{
    color: var(--sub-color);
}
.breadcrumb-item a:hover{
    color: var(--main-color);
}
.breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
/*---HEADER-----*/

/*---FOOTER-----*/
.page-footer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url('../images/head-bg.jpg');
    background-position: bottom;
    background-size: cover;
    font-family: 'TajawalMedium', sans-serif;
    line-height: 1.7;
}
.subscribe-text{
    font-family: 'TajawalBold', sans-serif;
    line-height: 1.7;
}
.subscribe-form{
    color: #000;
}
.subscribe-form input{
    font-family: 'TajawalMedium', sans-serif;
    height: 100%;
    border-radius: 0;
    border: 0;
}
.subscribe-form input::placeholder{
    color: #000;
}
.subscribe-form button{
    font-family: 'TajawalBold', sans-serif;
    border-radius: 0;
}
.footer-title{
    font-family: 'TajawalBold', sans-serif;
}
.footer-text, .footer-more-info{
    font-size: 0.92rem;
}
.page-footer dd {
    margin-bottom: 1rem;
}
.footer-social-icon{
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.3rem;
    text-align: center;
    padding-top: 0.1rem;
}
.footer-social-icon:hover{
    border: 1px solid var(--main-color);
}
/*---FOOTER-----*/

/*-----home-----*/
.course-item, .owl-item{
    position: relative;
    z-index: 1;
}
.course-box{
    border: 1px solid rgb(235, 235, 235);
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(35, 31, 32, 0.07);
    padding: 0;
    overflow: hidden;
    height: 440px;
    position: relative;
    color: #000;
    z-index: 1;
}
.course-box .card-img-overlay{
    padding: 0;
    height: 100%;
}
.course-box .card-top{
    height: 48%;
    position: absolute;
    width: 100%;
}
.course-box .card-body{
    background: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.course-item .card-tooltip{
    display: none;
    background: #fff;
    color: #000;
    position: absolute;
    top: 20%;
    left: -250px;
    width: 250px;
    z-index: 2000;
}
.card-title{
    font-size: 1rem;
    font-family: 'TajawalBold', sans-serif;
    margin-top: 0.5rem;
}
.card-sub-title {
    color: #969696;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1rem;
}
.card-icon-text{
    font-size: 0.8rem;
    font-family: 'TajawalBold', sans-serif;
}
.owl-carousel .owl-stage-outer {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}
.card-btn{
    margin-top: 1.2rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'TajawalBold', sans-serif;
}
.price-box{
    margin-top: 0.5rem;
}
.price-box p{
    display: inline-block;
    background: var(--main-color);
    color: #ffffff;
    border-radius: 8px 0 0 8px;
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    font-size: 1.5rem;
    font-family: 'TajawalBold', sans-serif;
    line-height: 1;
}
.price-box.sale-box p{
    background: var(--dark-gray-color);
    position: relative;
}
.price-box.sale-box p:after{
    content: "";
    width: 50%;
    height: 3px;
    background: #ffffff;
    display: block;
    position: absolute;
    transform: rotate(-25deg);
    left: 30%;
    bottom: 25px;
}
.price-box p small{
    display: block;
    font-size: 0.6rem;
}
.course-item:hover .course-box{
    color: #fff;
}
.course-item:hover .course-box .card-img-overlay{
    background: rgba(0,0,0,0.5);
}
.course-item:hover .course-box .card-img{
    transform: scale(1.5);
}
.course-item:hover .course-box .card-body{
    background: none;
}
.course-item:hover .course-box .card-sub-title, .course-item:hover .course-box .main-color{
    color: #fff;
}
.course-item:hover .course-box .card-btn{
    border: 1px solid #fff;
    color: #fff;
}
.course-item:hover .course-box .card-btn:hover{
    color: #000;
    background: #fff;
}
.course-item:hover .card-tooltip{
    display: block;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: auto;
}
.testimonial-content {
    display: none;
}
.swiper-slide-active .testimonial-content {
    display: block;
    position: relative;
    width: 40vw;
    margin-right: -14vw;
}
/*-----home-----*/

/*---PAGE-----*/
.page{
    padding: 5rem;
}
.page-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 2.3rem;
    line-height: 1.3;
}
.page-sub-title{
    font-size: 0.9rem;
}
.font-text-bold{
    font-family: 'TajawalBold', sans-serif;
}
.page-list {
    padding-right: 1.2rem;
    list-style: none;
}
.page-list li::before {
    content: "";
    background-color: var(--main-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 0.28rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: -1rem;
}
.page-second-title{
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.3rem;
}
.page-form-btn{
    color: #ffffff;
    font-family: 'TajawalBold', sans-serif;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 7px;
}
.page-form input {
    height: calc(3.25rem + 2px);
}
.page-form .form-control{
    background: var(--light-gray-color);
    padding-right: 1.5rem;
    font-family: 'TajawalMedium', sans-serif;
    border-radius: 7px;
    color: var(--dark-gray-color);
}
/*---PAGE-----*/